In [2176]:
import os
import sys

import pandas as pd

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

%load_ext autoreload
%autoreload 2

from utils.utils import (
    generate_data,
    print_project_summary,
    process_applications,
    student_assignment,
    generate_roster,
    generate_rejections
)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2165]:
file_location = "../data/Winter 25 Matching.xlsx"
# prioritized_students = []
prioritized_students = ["kbarbarossa@uchicago.edu"]
deprioritized_students = ["hanyunl@uchicago.edu", "durojaiye@uchicago.edu"]
application_df, forced_assignments = process_applications(file_location, deprioritized_students, prioritized_students)

In [2166]:
technical_project_list = [
    "Morningstar", "Fermi - GNN", "Fermi - Simulations", "Center for Living Systems",
    "Building Decarbonization Coalition", "Argonne", "CMAP", "Invenergy"
]

data_to_process_dict = generate_data(application_df, technical_project_list)

Dropping 0 students because they do not have a computer and not required
Total Students available for matching: 112

In [2167]:
priority_weights = [10, 15, 25, 30]
max_students = {"Fermi - GNN": 3}
all_project_list = data_to_process_dict.pop("all_project_list")
assignment_df = student_assignment(priority_weights = priority_weights, **data_to_process_dict,
                                   max_students_dict=max_students, preassigned_students=forced_assignments,
                                   number_of_projects_to_run=None, drop_projects=["University of Northern Iowa"], verbose=False)
print(f"\nAverage Ranking: {assignment_df.Ranking.mean():.2f}")
print(assignment_df.Ranking.value_counts())
print_project_summary(assignment_df, all_project_list)

assignment_df.to_csv("../data/assignments.csv", index=False)

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/hannifan/projects/the-clinic/.venv/lib/python3.10/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/sr/lrm99gp93rx47xspcx2z49gr0000gp/T/267999e4ef0a4cd782e5eef21cfce2bc-pulp.mps -timeMode elapsed -branch -printingOptions all -solution /var/folders/sr/lrm99gp93rx47xspcx2z49gr0000gp/T/267999e4ef0a4cd782e5eef21cfce2bc-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 1218 COLUMNS
At line 12369 RHS
At line 13583 BOUNDS
At line 14952 ENDATA
Problem MODEL has 1213 rows, 1368 columns and 7064 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 815 - 0.00 seconds
Cgl0002I 1087 variables fixed
Cgl0003I 9 fixed, 0 tightened bounds, 6 strengthened rows, 0 substitutions
Cgl0004I processed model has 81 rows, 245 columns (245 integer (244 of which binary)) and 490 elements
Cutoff increment increased from 1e-05 to 4.9999
Cbc0038I Initial state - 0 integers unsatisfied sum - 0
Cbc0038I Solution found of 815
Cbc0038I Before mini branch and bound, 245 integers at bound fixed and 0 continuous
Cbc0038I Mini branch and bound did not improve solution (0.01 seconds)
Cbc0038I After 0.01 seconds - Feasibility pump exiting with objective of 815 - took 0.00 seconds
Cbc0012I Integer solution of 815 found by feasibility pump after 0 iterations and 0 nodes (0.01 seconds)
Cbc0001I Search completed - best objective 815, took 0 iterations and 0 nodes (0.01 seconds)
Cbc0035I Maximum depth 0, 0 variables fixed on reduced cost
Cuts at root node changed objective from 815 to 815
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                815.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.01
Time (Wallclock seconds):       0.01

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.02   (Wallclock seconds):       0.02


Average Ranking: 1.11
Ranking
0      37
2.0    11
1.0    10
4.0     8
3.0     5
Name: count, dtype: int64

Student Summary: 71 of 112 students were matched to a project.

Project Summary:

,Project Name,Number,High Priority,High-Med Priority,Med Priority,Low Priority,Experienced,Rankings,Average Ranking
0,Argonne,4,4,0,0,0,1,"0,0,0,0",0.00
1,Morningstar,4,4,0,0,0,0,"0,0,0,1",0.25
2,Food System 6,4,4,0,0,0,1,"0,0,0,1",0.25
3,International Rescue Committee,4,4,0,0,0,1,"0,0,0,2",0.50
4,RAFI - Grocery,4,4,0,0,0,2,"0,0,0,3",0.75
5,Internet Equity Initiative,4,4,0,0,0,0,"0,0,1,2",0.75
6,IDI - Grievances,4,4,0,0,0,1,"0,0,1,2",0.75
7,UChicago Library,4,3,0,1,0,2,"0,0,0,3",0.75
8,University of Rwanda 2,4,3,0,1,0,1,"1,1,1,1",1.00
9,Fermi - Simulations,4,4,0,0,0,2,"0,0,2,2",1.00
10,CMAP,4,3,1,0,0,2,"0,0,1,4",1.25
11,RAFI - Poultry,4,4,0,0,0,1,"0,0,2,3",1.25
12,Center for Living Systems,4,4,0,0,0,2,"0,0,2,3",1.25
13,Building Decarbonization Coalition,4,4,0,0,0,0,"0,0,3,4",1.75
14,Invenergy,4,4,0,0,0,1,"0,1,2,4",1.75
15,University of Rwanda,4,3,1,0,0,0,"2,2,4,4",3.00
16,Kids First Chicago,4,4,0,0,0,1,"2,4,4,4",3.50
17,Fermi - GNN,3,3,0,0,0,0,"0,0,0",0.00
18,University of Northern Iowa,0,0,0,0,0,0,,0.00

In [ ]:
# Generate roster for matching spreadsheet
roster = generate_roster(application_df, assignment_df)
roster.to_csv("../data/roster.csv", index=False)
roster.head()

,Project,Name,GitHub,Email,Chicago ID,Degree Program,Concentration,Returning
0,Argonne,Ana Guedes,NaN,anacguedes@uchicago.edu,NaN,Undergrad: 4th year,Data Science,1
1,Argonne,Angela Liu,aliu65803,aliu5@uchicago.edu,10010596Q,Undergrad: 4th year,Data Science,1
2,Argonne,Isaac Harlem,isaacharlem,isaacharlem@uchicago.edu,10803955L,Undergrad: 4th year,Data Science,1
3,Argonne,Siya Kalra,siyakalra830,siyakalra@uchicago.edu,00815932W,Undergrad: 4th year,Data Science,1
4,Building Decarbonization Coalition,Andres Guerrero,NaN,andresg@uchicago.edu,NaN,Undergrad: 4th year,Data Science,1

In [ ]:
# Generate rejection csv
rejections = generate_rejections(assignment_df)
rejections.to_csv("../data/rejections.csv", index=False)
rejections.head()

                         Email
0        Cosmo280@uchicago.edu
1        arkadeep@uchicago.edu
2        beichiwu@uchicago.edu
3        cedarliu@uchicago.edu
4  charliewang436@uchicago.edu

In [2182]:
assert roster.shape[0] + rejections.shape[0] == application_df.shape[0], 'Mismatched size'

In [2169]:
project_to_comp = "Fermi - GNN"

list_of_not_assigned = list(assignment_df.loc[(assignment_df.Ranking.isna()), "Email Address"])
prefs_df = data_to_process_dict["ranking"].copy()
unmatched_prefs = prefs_df.loc[(prefs_df.loc[:, "Project Name"] == project_to_comp) & prefs_df.loc[:, "Email Address"].isin(list_of_not_assigned)
             & (prefs_df.Ranking < 100), :]

unmatched_info = pd.merge(unmatched_prefs, assignment_df.loc[:, ["Email Address", "Experienced", "Priority"]], how="left", on="Email Address")

matched = assignment_df.loc[(assignment_df.loc[:, "Project Assigned"] == project_to_comp), :]
display(matched.sort_values("Ranking"))

display(unmatched_info)

                Email Address  Priority  Experienced Project Assigned Ranking
4      alexbacro@uchicago.edu         1        False      Fermi - GNN       0
77   msaidenberg@uchicago.edu         1        False      Fermi - GNN       0
107      ygu0929@uchicago.edu         1        False      Fermi - GNN       0

             Email Address Project Name  Ranking  Experienced  Priority
0       malls@uchicago.edu  Fermi - GNN      4.0        False         4
1  victorqian@uchicago.edu  Fermi - GNN      3.0         True         3
2         wuh@uchicago.edu  Fermi - GNN      5.0         True         4
3   xuerantao@uchicago.edu  Fermi - GNN      5.0        False         4
4       yaniw@uchicago.edu  Fermi - GNN      3.0        False         4

In [2170]:
# Priority students that were not assigned to a project
assignment_df[(assignment_df["Priority"] == 1) & (assignment_df["Project Assigned"].isna())]

Empty DataFrame
Columns: [Email Address, Priority, Experienced, Project Assigned, Ranking]
Index: []

In [2171]:
# Non-priority students that were assigned to a project
assignment_df[(assignment_df["Project Assigned"].notna()) & (assignment_df["Priority"] > 1)]

,Email Address,Priority,Experienced,Project Assigned,Ranking
17,ceden26@uchicago.edu,3,False,University of Rwanda 2,1.0
92,shaileshbolduc@uchicago.edu,3,True,UChicago Library,0
101,wanniyang@uchicago.edu,2,False,University of Rwanda,2.0
103,xiaoyue1@uchicago.edu,2,True,CMAP,0

In [2172]:
n_return = assignment_df[(assignment_df["Project Assigned"].notna()) & (assignment_df["Ranking"] == 0)].shape[0]
n_priority = assignment_df[(assignment_df["Priority"] == 1)].shape[0]
n_placed = assignment_df[(assignment_df["Project Assigned"].notna())].shape[0]

print(f"{n_return} returning students")
print(f"{n_priority} priority students")
print(f"{n_placed} total placed students")

37 returning students
67 priority students
71 total placed students

In [2173]:
# All students that were assigned
assignment_df[(assignment_df["Project Assigned"].notna())][['Email Address', 'Project Assigned']]

                 Email Address                    Project Assigned
1        acherman@uchicago.edu                                CMAP
2        akaboski@uchicago.edu  Building Decarbonization Coalition
3          alexan@uchicago.edu          Internet Equity Initiative
4       alexbacro@uchicago.edu                         Fermi - GNN
5      alexmosher@uchicago.edu                           Invenergy
..                         ...                                 ...
101     wanniyang@uchicago.edu                University of Rwanda
103      xiaoyue1@uchicago.edu                                CMAP
107       ygu0929@uchicago.edu                         Fermi - GNN
110       yurouli@uchicago.edu                       Food System 6
111  zachlaurence@uchicago.edu           Center for Living Systems

[71 rows x 2 columns]

In [2174]:
# Check specific student(s) by email
assignment_df[assignment_df["Email Address"].isin(["hanyunl@uchicago.edu",  "kbarbarossa@uchicago.edu"])]

,Email Address,Priority,Experienced,Project Assigned,Ranking
38,hanyunl@uchicago.edu,4,True,None,None
55,kbarbarossa@uchicago.edu,1,False,Kids First Chicago,4.0